 @import url("//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css");

h1 {
    color:salmon;
}
    text-align:center;
    
h2 {
    color:Aqua ;
}
    
.favs {
    color: LightSeaGreen;
}

.body {
    background-color:AliceBlue;
}

#header {
    align: center;
}
